pysqlite3-binary
langchain==0.2.2
langchain-community==0.2.3
pinecone-client==3.2.2
langchain-pinecone==0.1.1
langchain-groq==0.1.5
sentence-transformers==3.0.0
langchain-huggingface==0.0.3

aiohttp
async-timeout
langchain-core
langchain-text-splitters
langsmith
numpy
pydantic
PyYAML
requests
SQLAlchemy
tenacity
dataclasses-json
certifi
tqdm
typing-extensions
urllib3
groq
huggingface-hub
Pillow
scikit-learn
scipy
torch
transformers
tokenizers
